* {
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
